*{
    box-sizing: border-box;
}


header {
    top: 0px;
    position: sticky;
    margin: 0px;
    background-color: #005424;
    display: flow-root;
    border-bottom: 5px solid #ddad44;
}

#headlogo{
    width: 150px;
    float: left;
}


body {
    margin: 0px;
    background-color: #000000;
    font-family: "TASA Explorer", "sans-serif", Arial;
    color: white;

}

main {
    margin: 20px;
}

.navbar li {
    float: left;
}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}

.navbar a:hover{
    background-color: #ddad44;
}

.policies {
    box-sizing: border-box;
    border: 3px solid #005424;
    border-radius: 5px;
    width: 30em;
    display: inline-block;
}


.policies:hover {
    font-size: 1.2em;
}

#policybox {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media screen and (max-width:600px){
    #policybox {
        display: flex;
    }
}
